@import '../../styles/vars';
@import '../../styles/mixins';

// Desktop 
@media only screen and (min-width: $desktop) {
  .about {
    @include flexCenter(center, center, column);
    max-width: $desktop-content;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}