@import '../../../styles/vars';

.modal-header {
  width: 100%;
  padding: $spacer;
  display: flex;
  justify-content: flex-start;

  &__arrow {
    color: $text;
    cursor: pointer;
  }
}

// Desktop 
@media only screen and (min-width: 480px) {
  .modal-header {
    max-width: 400px;
    background-color: $white;
    justify-content: flex-end;
  }
}