@import '../../../styles/mixins';
@import '../../../styles/vars';

.menu-elem {
  @include flexCenter(space-between, center, column);
  height: 100%;
  font-weight: 300;

  &-titles {
    font-size: 2.5rem;
    height: 50%;
    @include flexCenter(space-between, center, column);
    
    &__link {
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }
  }

}