@import '../../styles/vars';
@import '../../styles/mixins';

.project {
  @include flexCenter(center, center, column);
  padding-left: $spacer;
  padding-right: $spacer;
  margin-bottom: 60px;

  &__intro-wrapper {
    background-color: $text;
    color: $white;
    padding: $spacer;
    border: 1px $text solid;
    margin-left: -$spacer*2;
    margin-right: -$spacer*2;
    margin-bottom: 30px;
    border-radius: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: $spacer;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: $spacer;
    margin-top: $spacer;
    text-align: center;
  }
  
  &__text {
    line-height: 1.5;
    margin-bottom: $spacer;
    text-align: justify
  }

  &__stack-wrapper {
    padding: $spacer;
    padding-bottom: 0;
  }
  
  &__stack {
    @include flexCenter(flex-start, flex-start, row);
    width: 100%;
    margin-bottom: $spacer;
    background-color: $story-bg;
    padding: $spacer;
    border-radius: 20px;

    &__left {
      width: 50%;
    }
    
    &__subtitle {
      font-weight: 700;
      font-size: 1rem;
      margin-bottom: $spacer;
      text-transform: uppercase;
      text-align: left;
      width: 100%;
    }
    
    &__list {
      width: 100%;
      font-family: 'Inconsolata', sans-serif;
      line-height: 1.3;
    }

    &__link {
      font-weight: 700;
      color: $primary;
      margin-bottom: $spacer;

      &:hover {
        text-decoration: underline;
      }
    }

    &__icon {
      color: $primary;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  &__screenshot-wrapper {
    margin-left: -$spacer*2;
    margin-right: -$spacer*2;
    margin-top: $spacer;
    margin-bottom: $spacer;
  }

  &__screenshot {
    width: 100%;
  }
}

// Desktop 
@media only screen and (min-width: $desktop) {
  .project {
    max-width: $desktop-content;
    margin: 0 auto;

    &__intro-wrapper {
      @include flexCenter(space-around, center, row);
    }

    &__screenshot-wrapper {
      max-width: $desktop-content;
    }

    &__text-wrapper {
      width: 50%;
    }

    &__stack-wrapper {
      width: 400px;
    }
  }

}