@use 'reset';
@use 'vars';

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../assets/fonts/Inconsolata-Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../assets/fonts/Inconsolata-ExtraBold.ttf');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Slabo 13px';
  src: url('../assets/fonts/Slabo13px-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Varela Round';
  src: url('../assets/fonts/VarelaRound-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  background: linear-gradient(180deg, vars.$background 0%, vars.$background-transparent 100%);
}

// General rule for mobile & tablet display
@media only screen and (max-width: vars.$mobile) {
  .desktop {
    display: none;
  }
}

// General rule for desktop display
@media only screen and (min-width: vars.$desktop) {
  .mobile {
    display: none;
  }
}