@import '../../styles/vars';

// Slider
.swiper {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: $white;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  height: auto; // Same height to all slides
}

// Container for pagination bullets
.my-custom-pagination-div {
  text-align: center;
  margin: 0.5rem;
}

.swiper-pagination-bullet {
  background: $story-bg;
}

// Arrows
.swiper-button-next-unique, .swiper-button-prev-unique {
  color: $story-bg;
  z-index: 50;
}

.swiper-button-next-unique {
  position: absolute;
  right: -8px;
  top: 40%;
}

.swiper-button-prev-unique {
  position: absolute;
  left: -8px;
  top: 40%;
}

// Styling of skills components
.skills {

  &__title {
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 18px;
  }

  
  &__subtitle {
    font-weight: 700;
    font-size: 1.3rem;
    color: $primary;
    margin-bottom: 5px;
    
    &::before {
      display: inline-block;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font: var(--fa-font-regular);
      content: "\f02e";
      margin-right: 9px;
    }
  }

  &__details {
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 18px;
    line-height: 1.3;
    margin-left: 25px;
  }
}


