@import '../../styles/vars';

.story {
  background-color: $story-bg;
  padding: $spacer;
  padding-bottom: 2rem;
  margin-left: -$spacer;
  margin-bottom: -2rem;
  margin-right: -$spacer;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: $white;
    margin-bottom: 35px;
  }

  // TIMELINE 
  // Vertical ruler
  &__timeline {
    position: relative;
    max-width: 375px;
    margin: 0 auto;

    &::after {
      content: '';
      position: absolute;
      border-left: 2px dotted $white;
      top: 20px;
      bottom: -$spacer;
      left: 31px;
      margin-left: -3px;
    }

    // Container around content
    &__container {
      padding-left: 40px;
      padding-right: $spacer;
      position: relative;
      background-color: inherit;
      width: 100%;

      // Circle on the timeline
      &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        left: 17px;
        background-color: $tint1;
        outline: 2px dotted $white;
        border: 6px solid $story-bg;
        top: 15px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        z-index: 1;
      }

    }

    // Actual content
    &__content {
      padding: 16px 16px;
      // background-color: white;
      position: relative;
      border-radius: 6px;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5;
      text-align: justify;

      &__year {
        position: relative;
        font-weight: 700;
        font-size: 1.3rem;
        top: -3px;
      }

      &__image {
        max-width: 200px;
        max-height: 200px;
      }

      &__image-pos {
        text-align: center;
      }
    }
  }
}

.left {
  left: 0;

  &::after {
    left: 19px
  }
}

// Timeline inner circles colors
#tint1::after,
.tint1 {
  background-color: $tint1;
}

#tint2::after,
.tint2 {
  background-color: $tint2;
}

#tint3::after,
.tint3 {
  background-color: $tint3;
}

#tint4::after,
.tint4 {
  background-color: $tint4;
}

// .tint1,
// .tint2,
// .tint3,
// .tint4 {
//   font-weight: 700;
// }

