@import '../../styles/vars';
@import '../../styles/mixins';


.header {
  @include flexCenter(space-between, center, row);
  width: 100vw;
  padding: 16px;

  &__logo {
    cursor: pointer;
  }
}

// Desktop
@media only screen and (min-width: $desktop) {
  .header {
    margin: 0 auto;
    // margin-bottom: 25px;
    max-width: $desktop-content;
  }
}