@import '../../styles/vars';
@import '../../styles/mixins';


.header {
  @include flexCenter(space-between, center, row);
  width: 100vw;
  padding: 16px;

  &__logo {
    cursor: pointer;
  }
}

// Desktop
@media only screen and (min-width: 769px) {
  .header {
    margin-bottom: 40px;
  }
}