@import '../../styles/vars';
@import '../../styles/mixins';

// ----- TIMELINE STYLES
.wrapper {
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 90%;
  height: 500px;
}

.line-area {
  display: block;
  width: 85%;
  height: 5px;
  // background: $white;
  border-bottom: 2px dotted $white;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .timeline-area {
  height: 100%;
}

// Block with year + dot + text (hidden)
.single-item {
  width: 5%; // spacing of years on timeline
  display: inline-block;
  position: relative;
  height: 100%;
  margin-right: 70px;
  transition: width .5s;
  z-index: 1;
}

// Positioning of years on the timeline
.single-item > span {
  height: 32px;
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.3rem;
  position: absolute;
  top:33px;
  left: 35px;
  margin-top: -$spacer;
  width: 100%;
  cursor: pointer;
}

// Dot on the timeline
.single-item > span::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: $tint1;
  outline: 2px dotted $white;
  border: 4px solid $story-bg;
  margin: 8px auto;
  border-radius: 50%;
}

// Text (hidden)
.image-area {
  display: none;
  position: absolute;
  left: -70px;
  top: 120px;
  // margin-top: -50%;
  width: 270px;
  background-color: $white;
  padding: $spacer;
  line-height: 1.5;
  font-size: 1.2rem;
  border-radius: 20px;
}

.image-area p { 
  margin-bottom: $spacer;
}

// --- Behaviour when active
.single-item.active .image-area {
  display: block;
  margin-top: -50%;
}

// Years
.single-item.active span {
  color: $white;
}
// Dots
.single-item.single-item.active > span::after {
  background-color: $white;
}

// ----- DESKTOP
@media only screen and (min-width: $desktop) {
  .story {
    margin: 0 auto;
    min-width: $desktop-content;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 60px;
  }

}

// Colors
// Timeline inner circles colors
.tint1 {
  background-color: $tint1;
}

.tint2 {
  background-color: $tint2;
}

.tint3 {
  background-color: $tint3;
}

.tint4 {
  background-color: $tint4;
}