@import '../../styles/vars';
@import '../../styles/mixins';

// ----- DESKTOP
@media only screen and (min-width: $desktop) {
  .story {
    margin: 0 auto;
    min-width: $desktop-content;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 60px;
  }
}

// ----- TIMELINE STYLES
.wrapper {
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 90%;
  height: 570px;
}

.line-area {
  display: block;
  width: 85%;
  height: 5px;
  border-bottom: 2px dotted $white;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .timeline-area {
  height: 100%;
}

// Block with year + dot + text (hidden)
.single-item {
  width: 5%; // spacing of years on timeline
  display: inline-block;
  position: relative;
  height: 100%;
  margin-right: 70px;
  transition: width .5s;
  z-index: 1;
}

// Positioning of years on the timeline
.single-item > span {
  height: 32px;
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.3rem;
  position: absolute;
  top:33px;
  left: 35px;
  margin-top: -$spacer;
  width: 100%;
  cursor: pointer;
  color: $text;
  transition: color .2s ease-in-out; // Change of colouur
}

// Dot on the timeline
.single-item > span::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: $tint1;
  transition: background-color .2s ease-in-out;
  outline: 2px dotted $white;
  border: 4px solid $story-bg;
  margin: 8px auto;
  border-radius: 50%;
}

// Text bloc (hidden)
.image-area {
  display: none;
  position: absolute;
  left: -70px;
  top: 100px;
  width: 270px;
  background-color: $white;
  padding: $spacer;
  line-height: 1.5;
  font-size: 1.2rem;
  border-radius: 20px;
  text-align: justify;

  // Arrow on top of the bloc
  &::before {
    content:'';
    position: absolute;
    left: 10px; // position the arrow under the dot
    right: 0;
    top: -10px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $white;
  } 
}

.image-area p { 
  margin-bottom: $spacer;
}

// ----- Images
.image-right, .image-left {
  display: none;
  position: absolute;
  width: 300px;
  top: 100px;
  transition: display 0.5s;
  overflow: hidden;
}

.image-right {
  left: 230px;
}

.image-left {
  right: 180px;
}

// --- Behaviour when active
.single-item.active {
  width: 7%; // Animation of the years
}

.single-item.active .image-area {
  display: block;
  animation: slide-in 750ms;
  animation-fill-mode: backwards;
}

// Years
.single-item.active span {
  color: $white;

}
// Dots
.single-item.single-item.active > span::after {
  background-color: $white;
}

// Images
.single-item.active .image-right, .single-item.active .image-left {
  display: block;
}

.single-item.active .image-right {
  animation: slide-left 750ms;
  animation-fill-mode: backwards;
}

.single-item.active .image-left {
  animation: slide-right 750ms;
  animation-fill-mode: backwards;
}

// Animation settings
@keyframes slide-in {
  from {
    transform: translateY(50%);
    opacity: 0.25;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(70%);
    opacity: 0.25;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-70%);
    opacity: 0.25;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}


// ----- Colors
// Timeline inner circles colors
.tint1 {
  background-color: $tint1;
}

.tint3 {
  background-color: $tint3;
}

.tint4 {
  background-color: $tint4;
}
